[submodule "site-cookbooks/ow_media_capture"]
	path = site-cookbooks/ow_media_capture
	url = git@github.com:OpenWatch/ow-media-capture-cookbook.git
[submodule "data_bags"]
	path = data_bags
	url = git@github.com:OpenWatch/chef-databags.git
[submodule "site-cookbooks/ow_users"]
	path = site-cookbooks/ow_users
	url = git@github.com:OpenWatch/ow-users-cookbook.git
[submodule "site-cookbooks/etherpad-lite"]
	path = site-cookbooks/etherpad-lite
	url = git@github.com:OpenWatch/etherpad-lite-cookbook.git
[submodule "site-cookbooks/ow_python"]
	path = site-cookbooks/ow_python
	url = git@github.com:OpenWatch/ow-python-cookbook.git
[submodule "site-cookbooks/ow_etherpad"]
	path = site-cookbooks/ow_etherpad
	url = git@github.com:OpenWatch/ow-etherpad-cookbook.git
[submodule "site-cookbooks/ow_webserver"]
	path = site-cookbooks/ow_webserver
	url = git@github.com:OpenWatch/ow-webserver-cookbook.git
[submodule "site-cookbooks/npm"]
	path = site-cookbooks/npm
	url = git@github.com:OpenWatch/chef-npm.git
[submodule "site-cookbooks/ow_media_process"]
	path = site-cookbooks/ow_media_process
	url = git@github.com:OpenWatch/ow-media-process-cookbook.git
