[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = git@github.com:OpenWatch/nodejs-cookbook.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = git@github.com:OpenWatch/git-cookbook.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git://github.com/opscode-cookbooks/runit.git
[submodule "cookbooks/ffmpeg"]
	path = cookbooks/ffmpeg
	url = git@github.com:OpenWatch/ffmpeg-cookbook.git
[submodule "cookbooks/x264"]
	path = cookbooks/x264
	url = git@github.com:OpenWatch/x264-cookbook.git
[submodule "cookbooks/libvpx"]
	path = cookbooks/libvpx
	url = git@github.com:OpenWatch/libvpx-cookbook.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git@github.com:OpenWatch/nginx-cookbook.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.com:OpenWatch/postgresql-cookbook.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/redisio"]
	path = cookbooks/redisio
	url = git@github.com:OpenWatch/redisio-cookbook.git
